
//animations

@keyFrames fadeInCustom {
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
}

html {


    scroll-behavior: smooth;
    max-width: 100vw;

    body {
        max-width: 100%;
    }
}

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

html::-webkit-scrollbar
{
	width: 9px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.price {

    letter-spacing: 2px;
}



.product-main-row {

    font-family: Plain;

    
    @include media-breakpoint-up(md) {
        
        display: flex;
        align-items: center;
        min-height: 80vh;
    }

    @include media-breakpoint-down(sm) {
        
        margin: 20px;

        text-align: center;
    }
}
.link-to-desc {
    
    h4 {
        text-align: center;
    }
}

.thumbnail-container {

    a {

        img {

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.variants-add {
    

    div {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        //min-height: 100px;
    }
}

.images-container {

    opacity: 0%;;
    
    animation-name: slideeInLeft, fadeInCustom;
    -webkit-animation-name: slideInLeft, fadeInCustom;

    animation-duration: 1s, 1s;
    -webkit-animation-duration: 1s, 1s;
    
    animation-fill-mode: both;
}

.custom-carouss-arrows {

    i {
        position: absolute;
        top: 45%;
        font-size: 4em !important;
        cursor: pointer;
        user-select: none;
        opacity: 0.35;
        
    }

    .right {
        right: 0;
    }

    .left {
        left: 0;
    }

}

.product-description {
    font-family: "Georgia,Droid Serif,Noto Sans,sans-serif";
    text-align: justify;

    img {
        max-width: 90%;
    }
}

.header-fix {
    margin-bottom: 25px;
}

#wrapper {
    
    padding-top: 0 !important;
}


.landing-frame {

    // height: 100vh;
    // padding: 10vh 0;

    background: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .landing-title {

        
        display: flex;
        justify-content: center;

        h1 {
            font-size: 7vw;
            font-family: Rams-Bold;
        }
    }

    .landing-buttons-group {

        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        padding: 0 25vw;
        margin: 0 auto;

        .landing-button {


            border-style: solid;
            border-radius: 4px;
            border-color: black;
            border-radius: 10px;

            h2 {
                padding: 30px 30px;
                margin: 0 0 ;
                font-size: 2vw;
                font-weight: normal;
            }
        }

        

    }
}


.category {
    width: 30%;
    // overflow: hidden;

    a {
        width: 50%;
        margin: auto;
        text-align: center;
    }
}

#top-menu {
    margin-top : 1rem !important;
}

