@font-face {
    font-family: "Rams-Bold";
    src: url("../../assets/fonts/Rams.eot"); /* IE9*/
    src: url("../../assets/fonts/Rams.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../assets/fonts/Rams.woff2") format("woff2"), /* chrome、firefox */
    url("../../assets/fonts/Rams.woff") format("woff"), /* chrome、firefox */
    url("../../assets/fonts/Rams.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../../assets/fonts/Rams.svg#Rams-Bold") format("svg"); /* iOS 4.1- */
  }
  